.send-button {
	margin-top: 10px;
	text-align: center;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.contact-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.width-30 {
	width: 30%;
}

.width-100 {
	width: 100%;
}

.form-label {
	color: white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.forbidden-send{
	cursor: not-allowed;
}