  <app-header [sidenav]="sidenav"></app-header>

  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/us'">Nosotros</a>
        <a mat-list-item [routerLink]="'/solutions'">Soluciones</a>
        <a mat-list-item [routerLink]="'/services'">Servicios</a>
        <a mat-list-item [routerLink]="'/clients'"> Clientes </a>
        <a mat-list-item [routerLink]="'/contact'">Contacto</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 90vh;">
        <div class="background-image-abssa">
  		    <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
