html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-remaining-space {
  flex: 1 1 auto;
}

.clients-access {
	border-radius: 20px !important;
}

.logo-abssa {	
	width: 80px !important;
	height: 40px !important;
}
